{% extends 'AdminBundle:Default:baseAdmin.html.twig' %}	

    {% block title %}<title>Edit a document</title>{% endblock %}

    {% block body %}
        
        <div id="page-wrapper">
            <div class="row" style="background-color:#B4DEC9;">
                <div class="col-lg-12">
                    <h2 class="page-header">Edit a document</h2>
                </div>
            </div>
                              
                
            <div class="container" style="margin-top:45px;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            {{form_start(form)}}
                            {{form_row(form.name)}}
                            {{form_row(form.description)}}
                            {{form_row(form.publicDoc)}}
                            {{form_row(form.file)}}                            
                            <div style="text-align:center;">
                               {{form_end(form)}}
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
		          
	
	{% endblock %}